<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar tarefa</a>
    </div>
    <h3>Suas tarefas:</h3>
    <div class="tasks-container">
        {{#each tasks}}
        <div class="task-card {{#if this.completed}}completed{{/if}}">
            <div class="title-description">
                <span class="task-title">{{this.title}}</span> <br>
                <p class="task-description">{{this.description}}</p>
            </div>
            <div class="task-actions">
                <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
                <form action="/toughts/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
                <form action="/toughts/{{this.id}}/complete" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn">
                        {{#if this.completed}}
                        Refazer
                        {{else}}
                        Concluir
                        {{/if}}
                    </button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if emptyTasks}}
    <p>Ainda não há nenhuma tarefa, crie <a href="/toughts/add">clicando aqui</a></p>
    {{/if}}
</div>